<template name="footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Sitemap</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Main Book</a>
            <a href="#" class="item">Browse Books</a>
            <a href="#" class="item">Create a Book</a>
            <a href="#" class="item">Novel November</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">How to Use</a>
            <a href="#" class="item">Why CollaboWrite?</a>
            <a href="#" class="item">Contribute</a>
            <a href="#" class="item">Contact</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Legal</h4>
          <p>&copy; 2015 CollaboWrite</p>
        </div>
      </div>
    </div>
  </div>
</template>
