<template name="home">

<!-- Page Contents -->
<div class="pusher">
  <div class="ui vertical masthead center aligned segment">
    <div class="ui container">
      <img height="150" src="/images/collabowrite.png">
    </div>
    <div class="ui text container">
      <h1 class="ui header">
        CollaboWrite
      </h1>
      <h3>Let&rsquo;s write a book together, page by page.</h3>
      <div class="ui huge primary button">Learn More <i class="right arrow icon"></i></div>
    </div>
  </div>
</div>
</template>